@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    font-family: 'Roboto', sans-serif;
    --ascent-color: #032D4F;
    --background-color: #01090B;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: .25em;
    background-color: var(--ascent-color);
    color: white;
    height:4vmin;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal {
    border: 2px solid #032D4F; /* todo */
    background-color: #032D4F; /* todo */
    box-shadow: 0px 0px 23px -15px #000000DD;
    border-radius: 5px;
    padding: 1em;
    margin: 2em;
    position: relative;
    border: 3px solid #3C6DD4;
    width: 50vmin;
}

.modal .bt-close {
    position: absolute;
    height: 2em;
    width: 2em;
    right: -.5em;
    top: -.5em;   
    border-radius: 50%;
    border: 2px solid white;
    color: red;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}

.modal h1 {
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: .5em;
    padding-top: .5em;
    margin: 0 0 .25em 0;
    padding: 0;
    color:white
}

.modal form > div {
    margin-bottom: 1em;
}

.modal form > div > label {
    display: block;
    font-size: 20px;
    color: white
}

.modal form > div > input {
    width: 100%;
}

.modal div.action {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid black;
    margin-top: .5em;
    padding-top: .5em;
}

#nome{
    border-radius: 10px;
    border: 2px solid #525E6E;
    height: 4vmin;
}

#dataNasc{
    border-radius: 10px;
    border: 2px solid #3C6DD4;
    height: 4vmin;
}

#matricula{
    border-radius: 10px;
    border: 2px solid #525E6E;
    height: 4vmin;
}


.bt-save{
    border-radius: 100px;
    border:#3C6DD4;
    background-color: #3C6DD4;
    color: white;
    margin-left:auto;
    margin-right:auto;
    width:20vmin;
    height:3vmin;
    font-family: 'Roboto', sans-serif;
}

.bt-add{
    border-radius: 100px;
    border:#3C6DD4;
    background-color: #3C6DD4;
    color: white;
    font-family: 'Roboto', sans-serif;
    width:10vmin;
    height:3vmin;
}

.bt-pes{
    border-radius: 100px;
    border:#3C6DD4;
    background-color: #3C6DD4;
    color: white;
    font-family: 'Roboto', sans-serif;
    width:10vmin;
    height:3vmin;
}

.fa-user:before {
    content: "\f007";
    position:absolute;
    margin: 15px 100px 100px 19px;
}

.in-pes{
    width:20vmin;
    height:3vmin;
    border-radius: 100px;
    border:2px solid #3C6DD4;
}

img{
    margin: 5px 100px 100px 11px;
    position: absolute;
}